body
{
    background: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px auto;
}

#container{
    widht: 1010px;
    margin: 0px auto;
}

header{
    margin: 0px auto;
    text-align: center;
    line-height: 50px;
}

nav ul li{
    color: blue;
    float: left;
    list-style: none;
    margin: 0px auto;
    line-height: 10px;
    height: 10px;
    width: 500px;
}

.clearfix{
    clear: both
}

nav{
    background: black;
    height: 50px;
    text-align: left;
    margin: 0px auto;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: lightslategray;
    padding: 40px;
}

aside{
    float: left;
    background: rgb(3, 80, 76);
    width: calc(20% - 30px);
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    text-align: center;
}

fooster{
    text-align: center;
    background: black;
    color: aliceblue;
    margin: 0px auto;
    line-height: 50px;
    height: 50px;
}

.article{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}